* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(70deg, #000000, #28d55f);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    background-color: #232323;
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.pantalla {
    grid-column: 1 / -1;
    background-color: #000000;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .9rem;
    margin-bottom: 1rem;
    font-family: Trebuchet MS;
    font-weight: 600;
}

.btn {
    background-color: #000000;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .9rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #030303e6;
}

#cero {
    grid-column: span 2;
}

#igual {
    background-image: linear-gradient(45deg, #00000099, #28d55f);
    grid-row: span 2;
}

#igual:hover {
    background-color: #cececebe;
}
