* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(1deg, #000000, #200eb8);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    background-color: #000000;
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.pantalla {
    grid-column: 1 / -1;
    background-color: #ffffff;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: Trebuchet MS;
    font-weight: 600;
}

.btn {
    background-color: #202020;
    color: white;
    border: 0;
    padding: 1.5rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #cececebe;
}

#cero {
    grid-column: span 2;
}

#igual {
    background-color:  ##8df359;
    grid-row: span 2;
}

#igual:hover {
    background-color: gray;
}

#mas {
    background-color:  ##8df359;
}
#mas:hover {
    background-color: gray;
}

#menos {
    background-color:  ##8df359;
}

#menos:hover {
    background-color: gray;

}

#multip {
    background-color:  ##8df359;
}

#multip:hover {
    background-color: #cececebe;

}
#dividir {
    background-color:  #8df359;
}
#dividir:hover {
    background-color: gray;
}

#borrar {
    background-color:  #8df359;
}
#borrar:hover{
    background-color: gray
}

#c {
    background-color:  #8df359;
}

#c:hover {
    background-color: gray
}
